<div class="modal-content">
    <div class="modal-header" style="height:40px;">
        <h3>New contact</h3>
    </div>
    <form>

        <div class="modal-body">
            <h4> Pleas fill the form to add new contact.</h4>
            <div class="SectionBox">
                <div class="spacinga">
                    <select class="forInput" ng-model="item.companyID" ng-selected="0" ng-options="company.id as company.name for company in companies">

                    </select>
                </div>
                <div class="spacing">
                    <input class="forInput" type="text" placeholder="Name">
                </div>
                <div class="spacing">
                    <input class="forInput" type="text" placeholder="Email">
                </div>
                <div class="spacing">
                    <input class="forInput" type="text" placeholder="phone">
                </div>
                <div class="spacing">
                    <input class="forInput" type="text" placeholder="Position">
                </div>

            </div>
        </div>
        <div class="modal-footer" style="height:70px;">
            <button type="submit" ng-click=close() class="button modalsubmit">Submit</button>
        </div>
    </form>
    <a href="#" ng-click=close() style=" position:fixed;top:10px;left:273px;">
        <span class="glyphicon glyphicon-remove" style="color: white;font-size:17px;"></span>
    </a>
</div>