<div class="modal-content">
    <div class="modal-header" >
        <h3>New sales person</h3>
    </div>
    <form>
        <div class="modal-body">
                <h4> Pleas fill the form to add new sales person.</h4>
         <div class="SectionBox">   
            <div class="spacinga">
                <input class="forInput" type="text" placeholder="Name">
            </div>
            <div class="spacing">
                <input class="forInput" type="text" placeholder="Id">
            </div>
            <div class="spacing">
                <input class="forInput" type="text" placeholder="Email">
            </div>
            <div class="spacing">
                <input class="forInput" type="text" placeholder="phone">
            </div>
            <div class="spacing">
                <input class="forInput" type="text" placeholder="Position">
            </div>
            <div class="spacing">
                <input class="forInput" type="password" placeholder="Password">
            </div>
            <div class="spacing">
                <input class="forInput" type="password" placeholder="Confirm password">
            </div>
        </div>
        </div>
        <div class="modal-footer" style="height:70px;">
            <button type="submit" ng-click=close() class="button modalsubmit">Submit</button>
        </div>
    </form>
    <a href="#" ng-click=close() style=" position:fixed;top:10px;left:273px;">
        <span class="glyphicon glyphicon-remove" style="color: white;font-size:17px;"></span>
    </a>
</div>