<html ng-app="app">
    
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="css/angular-datepicker.css">
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="css/others//bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="css/style1.css">
            <script src="js/jquery.js"></script>
            <script src="js/angular.min.js"></script>
            <script src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
            <script src="js/angular-datepicker.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
            <script src="js/SV1.js"></script>
            <script src="js/checklist-model.js"></script>
            <script src="js/bootstrap.js"></script>
            <script src="js/moment.js"></script>
        
    
    </head>
    
    <body  ng-controller="changepassctrl">
    
        <div class="container" ng-controller="changepassctrl" >
            <div class="box" style="left: 35%; top: 15%;">
    
                <div>
                    <img id="loginlogo" src="image/logo-salesvision (2).png" />
                </div>
    
                <form name="changepassform" novalidate>
                    <div class="formcontent">
    
                            <div class="form-group" id="registerpassword">
                                    <input id="regpass" type="password" ng-class="{submitting: changepassform.userpassword.$error.minlength || changepassform.userpassword.$error.pattern || changepassform.userpassword.$error.required && changepassform.userpassword.$touched}"
                                        name="userpassword" ng-model="user.password" ng-minlength="8" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
                                        class="form-control registertext" placeholder="Password" aria-required="true" required popover="Passwords must be at least 8 characters and contain one lower &amp; one uppercase letter, and one non-alpha character (a number or a symbol.)"
                                        popover-placement="bottom" popover-trigger="mouseenter" />
                                    <div ng-messages="changepassform.userpassword.$error" class="error">
                                        <div ng-message="minlength && pattern" ng-if="changepassform.userpassword.$touched">Wrong password format.</div>
                                        <div ng-message="required" ng-if="changepassform.userpassword.$touched">Can't leave this empty.</div>
                                    </div>
                                </div>
            
            
                                <div class="form-group">
                                    <input  type="password" ng-class="{submitting: ((changepassform.userpasswordconf.$error.required || changepassform.userpasswordconf.$error.compareTo && user.password)  && changepassform.userpasswordconf.$touched )}"
                                        name="userpasswordconf" ng-model="user.passconf" class="form-control registertext" placeholder="Confirm Password"
                                        compare-to="user.password" required>
                                    <div ng-messages="changepassform.userpasswordconf.$error" class="error">
                                        <div ng-message="required" ng-if="changepassform.userpasswordconf.$touched">Can't leave this empty.</div>
                                        <div ng-message="compareTo" ng-if="changepassform.userpasswordconf.$touched && user.password">Passwords do not match! </div>
            
                                    </div>
            
                                </div>
    
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-model="login" class="button register" ng-click="postchpassform(changepassform)">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
    
    </html>