<div class="modal-content">
    <div class="modal-header" style="height:40px;">
        <h3>Change your Password</h3>
    </div>
    <form class="form-group">
        <div class="modal-body">
            <div class="spacing">
                <input type="password" ng-model="pass" class="forInput" placeholder="New Password" style="position:relative; left:10px;width:250px;">
            </div>
            <div class="spacing">
                <input type="password" ng-model="confpass" class="forInput" placeholder="Confirm password" style="position:relative;left:10px;width:250px;">
            </div>
        </div>
        <div class="modal-footer">
                <button type="submit" ng-click=close() class="button modalsubmit">Submit</button>
            </div>
    </form>


    <a href="#" ng-click="close()" style=" position:fixed;top:10px;left:273px;">
        <span class="glyphicon glyphicon-remove" style="color: white;font-size:17px;"></span>
    </a>