<div class="modal-content">
    <div class="modal-header" style="height:40px;">
        <h3>Edit Industry list</h3>
    </div>
    <form class="form-group">
        <div class="modal-body" style="overflow-y: auto; max-height:200px;min-height:200px;">
            <div>
                <input class="forInput" type="text" placeholder="Industry name">
                <a href="#" id="addIcon">
                    <span id="addIcon" class="glyphicon glyphicon-plus-sign"></span>
                </a>
            </div>
            <div ng-repeat="industry in industryList" class="spacing">
                <div style="background-color:rgb(227, 227, 228);">
                    {{industry.name}}
                    <a href="#" ng-click="deleteSelected($index)">
                        <span class="glyphicon glyphicon-remove" style="color: red;font-size:13px;float:right;"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="button modalsubmit" ng-click="close()">Submit</button>
        </div>
    </form>


    <a href="#" ng-click="close()" style=" position:fixed;top:10px;left:273px;">
        <span class="glyphicon glyphicon-remove" style="color: white;font-size:17px;"></span>
    </a>
</div>