<html>

<head>

</head>

<body>
    <div class="modal-content">
        <div class="modal-header" style="height:40px;">
            <h3>Edit deal</h3>
        </div>
        <form id="addDeal" name="addDeal" class="form-group">
            <div class="modal-body" style="overflow-y: auto; max-height:450px;">

                <select class="forInput" ng-model="item.companyID" ng-selected="0" ng-options="company.id as company.name for company in companies"
                ng-disabled="addcompany">

            </select>
                <div class="spacing">
                    <select class="forInput" ng-model="dealsalesPerson">
                        <option>Select the person in charge</option>

                    </select>
                </div>
                <div class="spacing">
                    <select class="forInput" ng-model="leadproject.typeID" ng-selected="0" ng-options="type.id as type.name for type in types">
                    </select>
                </div>
                <div class="spacing">
                    <select class="forInput">
                        <option>Select the product</option>
                    </select>
                </div>
                <div class="spacing">
                    <input class="forInput" type="text" placeholder="Value" ng-model="dealValue">
                </div>
                <div class="spacing">
                    <input class="forInput" type="text" placeholder="Sales stage in percentage" ng-model="dealsalesstage">
                </div>
                <div class="spacing">
                        <textarea class="forInput" wrap="soft" rows="5"  type="text" size="255" placeholder="Remarks" ng-model="dealRemarks" />
                    </div>
                
                <div class="spacing">
                    <input class="forInput" type="text" placeholder="PO-Number" ng-model="POnum">
                </div>
                <div class="datepicker modalpodate" date-format="dd/MM/yyyy">
                    <input class="forInput modaldatepicker" ng-model="POdate" type="text" placeholder="PO-date">
                    <i class="fa fa-calendar fafaPosititionondatepicker"></i>
                    </input>
                </div>
                <div class="datepicker modalstartdate" date-format="dd/MM/yyyy">
                    <input class="forInput modaldatepicker" ng-model="dealstartdate" type="text" placeholder="Start date">
                    <i class="fa fa-calendar fafaPosititionondatepicker"></i>
                    </input>
                </div>
                <div class="datepicker modalenddate" date-format="dd/MM/yyyy">
                    <input class="forInput modaldatepicker" ng-model="dealenddate" type="text" placeholder="End date">
                    <i class="fa fa-calendar fafaPosititionondatepicker"></i>
                    </input>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" ng-click="close()" class="button modalsubmit">Submit</button>
            </div>

            <a href="#" ng-click="close()" style=" position:fixed;top:10px;left:273px;">
                <span class="glyphicon glyphicon-remove" style="color: white;font-size:17px;"></span>
            </a>
        </form>



    </div>

</body>

</html>