<html>

<body>
    <div class="modal-content">
        <div class="modal-header" style="height:40px;">
            <h3>{{deleteHeaderrows}}</h3>

        </div>
        <div class="modal-body" style="height:100px;border-radius:10px 10px 10px 10px;">
            <h4>{{deleteErrorMessage}}</h4>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-click="close()" class="button deletemodalsubmit">Ok</button>
        </div>
        <a href="#" ng-click="close()" style="position:fixed;top:10px;left:273px;">
            <span class="glyphicon glyphicon-remove" style="color: white;font-size:17px;"></span>
        </a>
    </div>

</body>
</html>