<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="css/angular-datepicker.css">
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.csss">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="css/style1.css">
            <script src="bower_components/jquery/dist/jquery.js"></script>
            <script src="js/angular.min.js"></script>
            <script src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>
            <script src="js/angular.ng-modules.js"></script>
            <script src="js/angular-datepicker.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
            <script src="js/SV.js"></script>
            <script src="js/checklist-model.js"></script>
            <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
            <script src="bower_components/moment/moment.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.8.3/ng-table.min.css" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.8.3/ng-table.min.js"></script>
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
            <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

</head>
    <body>
        <div class="container" ng-app="myApp" ng-controller="myController">
            {{curPage}}
            <div class="row">
                <div class="col-md-8">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-filter"></i>
                                </div>
                                <input type="text" class="form-control" placeholder="Filter" ng-model="searchData" id="filterText" ng-change="checkLength()"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td ng-repeat="column in cols"> 
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="paginationclass" ng-repeat="row in (filteredRows = (rows| filter:searchData | pagination: curPage * pageSize | limitTo: pageSize))">
                                    <td ng-repeat="column in cols">{{row[column]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        
            <!-- pagination buttons -->
            <div class="row">
                <div class="pagination pagination-centered" ng-show="rows.length">
                    <ul class="pagination-controle pagination">
                        <li>
                            <button type="button" class="btn btn-primary"
                                    ng-disabled="curPage == 0"
                                    ng-click="curPage=curPage-1"> &lt; PREV</button>
                        </li>
                        <li>
                            <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary"
                                    ng-disabled="(curPage >= numberOfPages() - 1) || (filteredRows.length < pageSize)"
                                    ng-click="curPage = curPage+1">NEXT &gt;</button>
                        </li>
                    </ul>
                </div>        
            </div>
        </div>
        <script>
            var data = [
    {"id" : "3", "name" : "Item 3", "cost" : "300"}, 
    {"id" : "1", "name" : "Item 1", "cost" : "100"}, 
    {"id" : "2", "name" : "Item 2", "cost" : "200"},
    {"id" : "6", "name" : "Item 6", "cost" : "600"}, 
    {"id" : "5", "name" : "Item 5", "cost" : "500"}, 
    {"id" : "4", "name" : "Item 4", "cost" : "400"}
];
angular.module('myApp', []).controller('myController', function ($scope) {

    $scope.searchData = '';
    $scope.rows = data;
    $scope.cols = Object.keys($scope.rows[0]);
    $scope.filteredRows = data;
    
    $scope.checkLength = function(){
        if($scope.filteredRows.length <= $scope.pageSize){
    		$scope.curPage = 0;
   		 }
    }

    $scope.curPage = 0;
    $scope.pageSize = 3;
    $scope.numberOfPages = function() {
        return Math.ceil($scope.rows.length / $scope.pageSize);
    };
}
).filter('pagination', function() {
    return function(input, start) {
        start = +start;
        return input.slice(start);
    };
}
);
        </script>
    </body>
</html>